.container {
  font-weight: 400;
  width: 1200px;
  margin: 30px auto;
}
.bold {
  font-weight: 700;
}
.font18 {
  font-size: 18px;
}
.font24 {
  font-size: 24px;
}
.font36 {
  font-size: 36px;
}
.font42 {
  font-size: 42px;
}
a {
  text-decoration: none;
  color: #424242;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin1 {
  margin: 10px;
}
.margin2 {
  margin: 20px;
}

.menu-hover:hover {
  color: blueviolet;
}

.pink {
  color: #d05270;
}
.text-white button {
  color: white;
  border: none;
  height: 50px;
  width: 150px;
}
.text-white button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.TWITTER {
  background-color: #47acdf;
}
.LINKEDIN {
  background-color: #1275b1;
}
.MEDIUM {
  background-color: black;
}
.content-menu button {
  margin-right: 40px;
  font-weight: 700;
  border: none;
  background-color: white;
}
.content-menu button:hover {
  color: #d05270;
  text-decoration: underline;
}
.card {
  margin: 50px 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.card a {
  border-bottom: #d05270 1px solid;
  padding-bottom: 5px;
}
